<html>
<body>
<script src="https://cdn.freecodecamp.org/testable-projects-fcc/v1/bundle.js"></script>
<head><link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"></head>
<h1 id="title">Student Data Form</h1>
<div id="form-outer">
  <p id="description">
    To know the details of students
  </p>
  <form id="survey-form" method="POST" action="/data">
    <div class="rowTab">
      <div class="labels">
        <label id="name-label" for="name">Full Name: </label>
      </div>
      <div class="rightTab">
        <input autofocus type="text" name="name" id="name" class="input-field" placeholder="Enter your name" required>
      </div>
    </div>
    
    <div class="rowTab">
      <div class="labels">
        <label id="email-label" for="email">Email: </label>
      </div>
      <div class="rightTab">
        <input type="email" name="email" id="email" class="input-field" required placeholder="Enter your Email">
      </div>
    </div>

    <div class="rowTab">
      <div class="labels">
        <label id="number-label" for="age">Age: </label>
      </div>
      <div class="rightTab">
        <input type="number" name="age" id="number" min="1" max="125" class="input-field" placeholder="Age" required>
      </div>
    </div>
    
    <div class="rowTab">
      <div class="labels">
        <label id="dob-label" for="dob">D.O.B: </label>
      </div>
      <div class="rightTab">
        <input type="date" name="dob" id="iddob" class="input-field" required>
      </div>
    </div>
    
    <div class="rowTab">
      <div class="labels">
        <label for="department">Department: </label>
      </div>
      <div class="rightTab">
        <select id="dropdown" name="department" class="dropdown">
        <option disabled value>Select an option</option>
        <option value="Information Technology">IT</option>
        <option value="Computer Science Engineering">CSE</option>
        <option value="Electronics and Communication Engineering">ECE</option>
        <option value="Mechanical Engineering">MECH</option>
        <option value="Civil Engineering">CIVIL</option>
        <option value="other">Other</option>
        </select>
      </div>
    </div>
    
    <div class="rowTab">
      <div class="labels">
        <label for="gender">Gender: </label>
      </div>
      <div class="rightTab">
        <ul style="list-style: none;">
          <label class="radio-inline"><input name="gender" value="Male"  type="radio">Male</label>
          <label class="radio-inline"><input name="gender" value="Female"  type="radio">Female</label>
          <label class="radio-inline"><input name="gender" value="others"  type="radio">Others</label>
        </ul>
      </div>
    </div>
    <div class="rowTab">
      <div class="labels">
        <label for="address">Address: </label>
      </div>
      <div class="rightTab">
        <textarea id="comments" class="input-field" style="height:50px;resize:vertical;" name="address" placeholder="Enter your address here..."></textarea>
      </div>
    </div>
    <div class="rowTab">
      <div class="labels">
        <label for="pincode">Pincode: </label>
      </div>
      <div class="rightTab">
       <input type="number" name="pincode" id="idpincode" class="input-field" style="height:20px;resize:vertical;" placeholder="6 - - - - -"></div>
    </div>
    
       <div class="rowTab">
      <div class="labels">
        <label for="language">Language Known: </label>
      </div>
      <div class="rightTab">
        <ul id="language" style="list-style: none;">
          <li class="checkbox"><label><input name="language1" value="English" type="checkbox" class="userRatings">English</label></li>
          <li class="checkbox"><label><input name="language2" value="Tamil" type="checkbox" class="userRatings">Tamil</label></li>
          <li class="checkbox"><label><input name="language3" value="Hindi" type="checkbox" class="userRatings">Hindi</label></li>
          <li class="checkbox"><label><input name="language5" value="Kannada" type="checkbox" class="userRatings">Kannada</label></li>
          <li class="checkbox"><label><input name="language7" value="others" type="checkbox" class="userRatings">Others</label></li>
        </ul>
      </div>
    </div>
    
    <button id="submit" type="submit">Submit</button>
    <button id="reset" type="reset">Reset</button>
  </form>
</div>
</body>
</html>